.git
.gitignore
.dockerignore

server
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov

.DS_Store
**/.DS_Store
.env
.env.*
!.env.example
go.work
go.work.sum

docs/
architecture.md
README.md
